<section class="articles">
	<div class="article__categories">
		<h3 class="category selected">Latest Posts</h3>
		<h3 class="category">Popular</h3>
	</div>
	<ul class="article-ul">
		<% for( let post of posts ) { %>
				<li>
					<img src="https://res.cloudinary.com/dzqgunluk/image/upload/v1724206859/placeholder_oa2pve.avif" alt="">
					<a href="/posts/<%= post._id %>">
						<span><%= post.title %></span>
						<div class="details">
							<span class="article-list__date"><%= post.createdAt.toLocaleDateString() %></span>
							<div class="stats">
								<div class="stat">
									<i class="fa-solid fa-heart"></i>
									<span class="likes"><%= post.likes.length %></span>
								</div>
								<div class="stat">
									<i class="fa-solid fa-comment"></i>
									<span class="comments"><%= post.comments.length %></span>
								</div>
							</div>
						</div>
					</a>
				</li>
		<% } %>
	</ul>
	<div class="pagination">
		<% if (prevPage != null) { %>
		<a href="/posts/?page=<%= prevPage %>" class="olderPosts">&lt; View Older Posts</a>
		<% } %> <% if (nextPage !== null) { %>
		<a href="/posts/?page=<%= nextPage %>" class="newerPosts">View Newer Posts &gt;</a>
		<% } %>
	</div>
</section>
