<div class="searchBar">
    <form action="/search" class="search__form" role="search" method="POST">
        <div class="search__input">
            <input type="search" aria-label="search" id="searchInput" name="searchTerm" placeholder="Search for a blog...">
            <button type="button" class="searchCloseBtn">X</button>
        </div>
        <button class="searchSubmitBtn" type="submit">
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.79167 13.4583C10.9213 13.4583 13.4583 10.9213 13.4583 7.79167C13.4583 4.66205 10.9213 2.125 7.79167 2.125C4.66205 2.125 2.125 4.66205 2.125 7.79167C2.125 10.9213 4.66205 13.4583 7.79167 13.4583Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14.875 14.875L11.7938 11.7938" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
    </form>
</div>

<div class="author">
    <h1 class="author__heading">Hi, I am [Author]</h1>
    <p class="author__body">Software Developer.</p>
</div>

<img src="/img/hero-image.jpg" alt="2 monitors and a keyboard" class="hero-image" height="528" width="981">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
    <ul class="article-ul">
        <% for( let post of posts ) { %>
            <li>
                <a href="/posts/<%= post._id %>">
                    <span><%= post.title %></span>
                    <span class="article-list__date"><%= post.createdAt.toLocaleDateString() %></span>
                </a>
            </li>
        <% } %>
    </ul>
    <div class="pagination">
        <% if (prevPage != null) { %>
            <a href="/posts/?page=<%= prevPage %>" class="olderPosts">&lt; View Older Posts</a>
        <% } %>
        <% if (nextPage !== null) { %>
            <a href="/posts/?page=<%= nextPage %>" class="newerPosts">View Newer Posts &gt;</a>
        <% } %>
    </div>
</section>